aioredis==1.3.1
amqp==5.0.6
asgi-redis==1.4.3
asgiref==3.4.1
astroid==2.4.2
async-timeout==3.0.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
beautifulsoup4==4.9.3
bidict==0.21.2
billiard==3.6.4.0
carehare==1.0.1
celery==5.0.5
certifi==2020.12.5
cffi==1.14.6
channels==3.0.4
channels-rabbitmq==4.0.0
channels-redis==3.3.0
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
constantly==15.1.0
construct==2.10.67
cryptography==3.4.7
daphne==3.0.2
Django==3.2.2
django-celery-beat==2.2.1
django-cors-headers==3.7.0
django-crispy-forms==1.7.0
django-generate-secret-key==1.0.2
django-phonenumber-field==5.1.0
django-sms==0.5.0
django-socketio==0.2
django-timezone-field==4.2.1
django-widget-tweaks==1.4.8
dnspython==1.16.0
eventlet==0.31.0
fswatch==0.1.1
gcloud==0.18.3
gevent==21.1.2
gevent-socketio==0.2.1
gevent-websocket==0.10.1
googleapis-common-protos==1.53.0
greenlet==1.1.0
hiredis==2.0.0
html5lib==1.1
httplib2==0.19.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
isort==5.6.4
jws==0.1.3
kombu==5.1.0
labelImg==1.8.6
lazy-object-proxy==1.4.3
lxml==4.6.3
lz4==3.1.3
mccabe==0.6.1
msgpack==1.0.2
msgpack-python==0.5.6
numpy==1.20.1
oauth2client==4.1.3
pamqp==3.0.1
pandas==1.2.3
phonenumbers==8.12.23
phonenumberslite==8.12.23
Pillow==8.2.0
prompt-toolkit==3.0.18
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.10.1
pylint==2.6.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
Pyrebase4==4.4.3
python-crontab==2.5.1
python-dateutil==2.8.1
python-decouple==3.4
python-dotenv==0.17.1
python-engineio==4.2.0
python-jwt==2.0.1
python-snss==0.1
python-socketio==5.3.0
pytz==2020.1
redis==3.5.3
requests==2.25.1
requests-toolbelt==0.9.1
rsa==4.7.2
service-identity==21.1.0
six==1.15.0
soupsieve==2.2.1
sphinx-me==0.3
sqlparse==0.4.1
toml==0.10.2
Twisted==21.2.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
urllib3==1.26.3
vine==5.0.0
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.4.0
