{% extends 'main.html' %}
{% load static %}

{% block content %}


    <!-- Header -->
    <header class="ex-header" data-aos="fade-down">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1" >
                    <h1>About Us</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- About -->
    <section class="aboutpage-about d-flex align-items-center text-light py-5" id="about">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-7" data-aos="fade-right">
                    <p>ABOUT US</p>
                    <h1>Windson Polypack LLP</h1>
                    <p class="py-2 para-light pyv">Our Brand Makes Perfection Not An Act But A Habit.Our Industry is
                        equieped with the finest machineries and infrastructure plants situated at Morbi-Gujarat. The
                        top management of our company is primarily focused on running the business of Technical Textile
                        PP/HDPE woven Bags and Fabrics to a standard and precisousness where every product is an
                        extraordinary.
                    </p>
                    <p class="py-2 para-light pyv">Our designed PP/HDPE Woven Fabrics/Bags can be extensively used in
                        agriculture
                        industry, woven bags industry, metal packaging industry, wood packaging industry and all the
                        other related industry. Our brilliant team is constantly improving the standards of Woven
                        Fabrics/Bags and keep on innovating with latest specifications standards.</p>

                    
                </div>
                <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down">
                    <img class="img-fluid" src="{% static '/images/about2.png' %}" alt="about">
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of about -->

    <!-- Services -->
    <section class="aboutpage-services d-flex align-items-center py-5" id="services">
        <div class="container text-light">
            <div class="text-center pb-4">
                <h2 class="py-2">Our Values Statement</h2>
            </div>
            <div class="row gy-4 py-2" data-aos="zoom-in">
                <div class="col-lg-4">
                    <div class="card bg-transparent">
                        <!-- <i class="fas fa-home fa-2x"></i> -->
                        <i class="fas fa-eye fa-2x"></i>
                        <h4 class="py-2">Vision</h4>
                        <p class="para-light pyv">In the pursuit of excellence and growth, we push the bar for a better
                            tomorrow through meaningful innovations, delivering ecofriendly Textile PP/HDPE woven Bags
                            and fabrics which are economical and technological to the packaging industries world-wide.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-transparent">
                        <i class="fas fa-rocket fa-2x"></i>
                        <h4 class="py-2">Mission</h4>
                        <p class="para-light pyv">We envision being a global Textile PP/HDPE Woven Bags and Fabrics
                            Product
                            enterprise, by making a positive difference in our user's life through a perennial process
                            of challening conventions and innovation to offer meanginful and worthy textile fabric
                            products.</p>
                    </div>
                </div>



            </div> <!-- end of row -->
        </div> <!-- end of container -->

     </section> <!-- end of services -->

    <!-- Testimonials -->
    <div class="slider-1 testimonial text-light d-flex align-items-center ">

        <div class="container">
            <div class="row">
                <div class="text-center w-lg-75 m-auto pb-4">
                    <!-- <p>TESTIMONIALS</p> -->
                    <h2 class="py-2">Our Values</h2>
                    <!-- <p class="para-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci esse
                        facilis vel, neque ipsa mollitia impedit, commodi ab illo dignissimos, voluptatum quae amet sed
                        tenetur dolores reprehenderit laudantium quo sint.</p> -->
                </div>
            </div> <!-- end of row -->
            <div class="row p-2" data-aos="zoom-in">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="testimonial-card p-4 aboutText">
                                        <p class="pyv aboutPText">The essential part of any successful creative process is the passion and we
                                            desire it. We define the choice between what's convenient and what's right. </p>
                                        <div class="d-flex pt-4 align-items-center">
                                            <div>
                                                <i class="fas fa-handshake fa-3x"></i>
                                            </div>
                                            <div class="ms-3 pt-2">
                                                <h6>Integrity with compassion</h6>
                                                <!-- <p>General Manager - Scouter</p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="testimonial-card p-4 aboutText">
                                        <p class="pyv aboutPText">Let's Continue to be Brave, to drive Improvement and Innovation. To keep
                                            Challenging and Allowing Ourselves To be Challenged.</p>
                                        <div class="d-flex pt-4 align-items-center">
                                            <div>
                                                <i class="fas fa-people-group fa-3x"></i>
                                            </div>
                                            <div class="ms-3 pt-2">
                                                <h6>Lead with Team Efforts</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="testimonial-card p-4 aboutText">
                                        <p class="pyv aboutPText">We exceed the expectations through our creativity from design and
                                            manufacturing to delivering intelligent user solutions through product novelty.</p>
                                        <div class="d-flex pt-4 align-items-center">
                                            <div>
                                                <i class="fas fa-head-side-virus fa-3x"></i>
                                            </div>
                                            <div class="ms-3 pt-2">
                                                <h6>Learning and Innovation</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="testimonial-card p-4 aboutText">
                                        <p class="pyv aboutPText">When you buy from Troy Polyfab LLP, you can be assured of one thing-Quality.
                                            We never compromise with the product’s quality in any circumstances.</p>
                                        <div class="d-flex pt-4 align-items-center">
                                            <div>
                                                <i class="fas fa-check-double fa-3x"></i>
                                            </div>
                                            <div class="ms-3 pt-2">
                                                <p>Quality Assurance</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                            </div> <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of testimonials -->

    {% endblock %}
