{% extends 'main.html' %}
{% load static %}

{% block content %}



    <!-- Header -->
    <header class="ex-header" data-aos="fade-down">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>PP Woven Bags</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->



    <section class="plans d-flex align-items-center py-5" id="plans">
        <div class="container text-light">
            <div class="text-center pb-4">
                <h2 class="py-2">PP Woven Bags</h2>
                <p class="para-light pyv product-p">PP Woven Bags are easy to clean, store and destroy. Buy premium
                    quality PP Woven Bags/Sacks at WINDSON made with the help of quality PP Resins and highly-advanced
                    technology, being a weather-resistant material, you can use the PP Woven bags throughout the year.
                    They are long-lasting and reusable making it environment-friendly packaging material.</p>
                <p class="para-light pyv product-p">Our distinct and extensive product line of PP Woven Bags/Sacks
                    includes Laminated & Un-Laminated Bags, Cement Bags, Sugar Bags, Sand Bags, Woven Plain Bags, to
                    name a few. These bags can extensively be used to store and transport food grains, cement,
                    fertilizers, chemicals, among other agricultural products.</p>
            </div>
            <div class="row gy-4 aos-init aos-animate product-row">
                <div class="col-lg-4-custome" data-aos="fade-right">
                    <div class="card bg-transparent px-4 ">
                        <div class="block d-flex align-items-center">
                            <img class="img-fluid bag-img" src="{% static '/images/sandbag.jpg' %}" alt="sabdbag-PP">
                        </div>
                        <div class="my-4">
                            <p class="btn bagname-p">PP Sand Bags</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4-custome" data-aos="fade-up">
                    <div class="card bg-transparent px-4">
                        <div class="block d-flex align-items-center">
                            <img class="img-fluid bag-img" src="{% static '/images/sugar-bags.jpg' %}" alt="SugarBag-PP">
                        </div>
                        <div class="my-4">
                            <p class="btn bagname-p">PP Sugar Bags</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4-custome" data-aos="fade-left">
                    <div class="card bg-transparent px-4">
                        <div class="block d-flex align-items-center">
                            <img class="img-fluid bag-img" src="{% static '/images/Cement-Bags.jpg' %}" alt="cementbag-PP">
                        </div>
                        <div class="my-4">
                            <p class="btn bagname-p">PP Cement Bags</p>
                        </div>
                    </div>
                </div>

            </div> <!-- end of row -->
            <div class="row gy-4 aos-init aos-animate product-row">
                <div class="col-lg-4-custome" data-aos="fade-right">
                    <div class="card bg-transparent px-4">
                        <div class="block d-flex align-items-center">
                            <img class="img-fluid bag-img" src="{% static '/images/Gusseted-Bags.jpg' %}"
                                alt="Gusseted-Bags-PP">
                        </div>
                        <div class="my-4">
                            <p class="btn bagname-p">PP Gusseted Bags</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4-custome" data-aos="fade-up">
                    <div class="card bg-transparent px-4">
                        <div class="block d-flex align-items-center">
                            <img class="img-fluid bag-img" src="{% static '/images/jumbo-bags.jpg' %}" alt="Jumbo-PP">
                        </div>
                        <div class="my-4">
                            <p class="btn bagname-p">PP FIBC Bags</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4-custome" data-aos="fade-left">
                    <div class="card bg-transparent px-4">
                        <div class="block d-flex align-items-center">
                            <img class="img-fluid bag-img" src="{% static '/images/PP-Bags-with-Without-Liner.jpg' %}"
                                alt="PP Bags with/Without Liner">
                        </div>
                        <div class="my-4">
                            <p class="btn bagname-p">PP Bags with/Without Liner</p>
                        </div>
                    </div>
                </div>

            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>
    
    
    {% endblock %}

    {% block name %} footer-1 {% endblock %}